<%
# Settings
heading ||= 'Related Pages'
page ||= @document
-%>
<% unless page.siblings.empty? %>
  <h3><%= heading %></h3>
  <ol id="related_pages">
    <% page.siblings.each do |p| -%>
      <li><a href="<%= document_path(p) %>"><%= p.title %></a></li>
    <% end -%>
  </ol>
<% end %>